<% if(isAuth){ %>

<%- include('header'); -%>

<body>

    <div class="container">
        <!-- Filtres -->
        <aside class="filter-section">
            <h2>Filtres :</h2>

            <div class="filter-category">
                <h3>Genres :</h3>
                <label><input type="radio" name="gender" value="tout" checked> Tout</label>
                <label><input type="radio" name="gender" value="homme"> Homme</label>
                <label><input type="radio" name="gender" value="femme"> Femme</label>

            </div>

            <div class="filter-category">
                <h3>Prix :</h3>
                <input type="range" id="price" name="price" min="0" max="150" value="53">
                <div class="price-values">
                    <span>0€</span>
                    <span>3500€</span>
                </div>
            </div>

            <div class="filter-category">
                <h3>Marques :</h3>
                <label><input type="checkbox" name="brand" value="bh-fitness"> BH Fitness</label>
                <label><input type="checkbox" name="brand" value="AFW- AllFreeWeight"> AFW </label>
                <label><input type="checkbox" name="brand" value="Compex"> Compex</label>
                <label><input type="checkbox" name="brand" value="LifeFitness"> LifeFitness</label>
                <label><input type="checkbox" name="brand" value="Cadenza"> Cadenza</label>

            </div>
        </aside>

        <!-- Catalogue de produits -->
        <section class="product-section">
            <h2>Bons Plans</h2>

            <div class="product-item">
                <a href="/product">
                <img src="image/altere.png" alt="Poids 2x5 kg">
                <p class="product-title">Poids 2x5 kg</p>
                <p class="product-price">3.99€</p>
            </a>
            </div>
            
            <div class="product-item">
                <img src="image/tapis.png" alt="Tapis">
                <p class="product-title">Tapis</p>
                <p class="product-price">11.99€</p>
            </div>
            
            <div class="product-item">
                <img src="image/corde.png" alt="Corde à sauter">
                <p class="product-title">Corde à sauter</p>
                <p class="product-price">3.5€</p>
            </div>
            
            </div>
        </section>
    </div>

</body>

</html>

<%- include('footer'); -%>
<% } %>