<footer>
    
    <div class="footer-top">
        <div class="social-icons">
            <a href="#"><img src="/image/insta-icon.png" alt="Instagram"></a>
            <a href="#"><img src="/image/facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="/image/x-icon.png" alt="Twitter"></a>
        </div>
        <div class="contact-info">
            <span><i class="fas fa-phone"></i> VENTES: 07 69 13 10 14</span>
            <p>Lundi à vendredi de 10h - 18h</p>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="column">
            <h4>Informations</h4>
            <ul>
                <li><a href="#">J'ai une question</a></li>
                <li><a href="#">Je souhaite recevoir un devis</a></li>
                <li><a href="#">Conditions générales de vente</a></li>
                <li><a href="#">Protection des données</a></li>
                <li><a href="#">Politique de cookies</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Service clientèle</h4>
            <ul>
                <li><a href="#">Localiser votre commande</a></li>
                <li><a href="#">Service technique</a></li>
                <li><a href="#">Données de contact</a></li>
                <li><a href="#">Retours et rétractation</a></li>
                <li><a href="#">Garanties</a></li>
                <li><a href="#">Architectes</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Envois</h4>
            <ul>
                <li><a href="#">Comment fonctionne la livraison</a></li>
                <li><a href="#">Modalités de livraison</a></li>
                <li><a href="#">Délais de livraison</a></li>
                <li><a href="#">Qui sommes-nous</a></li>
            </ul>
        </div>
        <div class="newsletter">
            <h4>Recevez nos offres !</h4>
            <form>
                <input type="email" placeholder="Inscrivez-vous et recevez nos offres par mail">
                <button type="submit">Abonnez-vous</button>
                <label>
                    <input type="checkbox"> J'ai lu et accepte la <a href="#">politique de protection des données</a>.
                </label>
            </form>
        </div>
    </div>
</footer>
