<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locfit</title>
    <link href="/public/css/style.css" rel="stylesheet">

</head>
<header>
    <h1>LOCFIT</h1>
</header>
<nav>
    <ul>Catalogue</ul>
    <ul>Mes Reservations</ul>
</nav>

<body>