<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locfit</title>
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<header>
    <image src="../image/logo.png" width="150" height="100"></image>
    <a href="/"><h1>LOCFIT</h1></a>
    <image src="../image/UserIcone.png" width="60" height="60"></image>

</header>
<nav>
    <ul><a href="/">Acceuil</a></ul>
    <ul>Catalogue</ul>
    <ul>Mes Reservations</ul>
</nav>

<body>