<%- include('header'); -%>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<main>
</main>

<body>

    <section class="container">
        <img class="index-pic" src="../image/rando.jpg" alt="Image de randonnée" />

        <div class="text-content">
            <h2 class="title"> CoopFit </h2>
            <p class="description"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. </p>
        </div>
    </section>

    <div class="button-container">
        <button class="catalogue-btn" type="button"> Accéder au Catalogue </button>
    </div>

</body>

<%- include('footer'); -%>
