<%- include('header'); -%>

 <section class="login-box">
        <div class="login">
            <img src="/image/UserIcone.png" width="100px">
            <h2 id="form-title">Connexion</h2>
            <form id="auth-form" action="/connexion" method="post">
                <label for="name">Login :</label>
                <input type="text" id="name" name="username" placeholder="Nom d'utilisateur" required>
                <label for="login-password">Mot de passe :</label>
                <input type="password" id="login-password" name="password" placeholder="Mot de passe" required>

                <button type="submit" class="login-button" id="submit-button">Se Connecter</button>
            </form>
            <a href="/inscription"><span class="toggle-link" >Pas encore de compte ? Inscrivez-vous</span></a>
        </div>
    </section>

        <%- include('footer'); -%>