<%- include('header'); -%>

    <%%>
    <section class="login-box">
    <div class="login">
        <img src="/image/UserIcone.png" width="100px">
        <form id="auth-form" action="/connexion" method="post">
            <label for="">login : </label>
            <input type="text" id="name" name="username" placeholder="Nom d'utilisateur" required>
            <label for="">Mot de passe: </label>
            <input type="password" id="login-password" name="password" placeholder="Mot de passe" required>
            <button type="submit" class="login-button">Se Connecter</button>
        </form>
    </div>
</section>
        <%- include('footer'); -%>