<%- include('header'); -%>


    <body>
        <section class="login-center">
        <div class="forms">
            <h2 id="form-title">Connexion</h2>
            <form id="auth-form">
                <div id="login-form">
                    <input type="text" id="login-username" name="username" placeholder="Nom d'utilisateur" required>
                    <input type="password" id="login-password" name="password" placeholder="Mot de passe" required>
                    <button type="submit" class="login-button">Se Connecter</button>
                </div>

                <div id="signup-form" style="display: none;">
                    <input type="text" id="signup-username" name="username" placeholder="Nom d'utilisateur" required>
                    <input type="email" id="signup-email" name="email" placeholder="Email" required>
                    <input type="password" id="signup-password" name="password" placeholder="Mot de passe" required>
                    <button type="submit" class="login-button">S'inscrire</button>
                </div>
            </form>
            <span class="toggle-link" id="toggle-link">Pas encore de compte ? Inscrivez-vous</span>
        </div>
    </section>
    </body>

    <%- include('footer'); -%>