<% if(isAuth){ %>
<%- include('header'); -%>

    <body>
        <div class="container">
            <h1>Caméra DSLR</h1>
            <div class="product-details">
                <p><span>Marque :</span> </p>
                <p><span>Modèle :</span> </p>
                <p class="description"><span>Description :</span> </p>
                <p class="prix"><span>Prix :</span> 50 € par jour</p>
            </div>
            <a href="/reserver" class="reserve-btn">Réserver</a>
        </div>

    
</body>

<%- include('footer'); -%>
<% } %>
