/*----Header----*/
header {
    background-color: #1A9DC6;
    font-size: 2.5rem;
    color: white;
    font-family: "K2D", sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;

}

header .login {
    height: 50px;
}

nav {
    background-color: #D9D9D9;
    color: #538FA3;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;
    margin: 0;

}

h1 {
    margin: 0;
    color: white;
}

ul {
    padding-inline-start: 0px;
    padding: 20px;
    margin: 0;
}

ul:hover {
    color: #F18F01;
    background-color: #b9b9b9;
}

body {
    margin: 0%;
}

/*--------------*/


/*----Acceuil----*/

.container {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    background-color: white;
    flex-wrap: wrap;
    /* Allows wrapping for responsive layout */
}

.index-pic {
    width: 750px;
    height: auto;
    border-radius: 10px;
    margin-right: 30px;
    /* Space between the image and text */
}

.text-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
    /* Centers the text vertically */
}

.title {
    font-family: "K2D", sans-serif;
    font-size: 34px;
    color: #4D636F;
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: 90%;

}

.description {
    font-family: "Kanit", sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff;

}

.catalogue-btn {
    background-color: #BCC1C4;
    color: #4D636F;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;
    font-size: 1.8em;

}

a {
    text-decoration: none;
    color: #538FA3;
}

a:hover {
    text-decoration: none;
    color: #F18F01;
}

.catalogue-btn:hover {
    background-color: #b9b9b9;
}

/* Responsive handling */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .index-pic {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-content {
        text-align: center;
    }

    .button-container {
        justify-content: center;
        margin-top: 30px;
    }
}

/*--------------*/


/*----Produit----*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 80%;
}

.product-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 60px;
    margin: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.product-info h2 {
    font-size: 24px;
    color: #4D636F;
    margin-bottom: 20px;
    font-family: Kanit;

}

.reservation,
.quantity,
.price {
    margin-bottom: 20px;
    font-family: "K2D", sans-serif;

}

.duration-selector,
.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.duration-selector button,
.quantity-selector button {
    background-color: #538FA3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.price {
    font-size: 24px;
    color: #000000;
    font-family: Kanit;
}

.price-value {
    font-weight: bold;
    color: #F19E4E;
    font-family: "K2D", sans-serif;

}

/*--------------*/

/*-----Catalogue-----*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.filter-section {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    font-family: "Kanit", sans-serif;
}

.filter-section h2,
.filter-category h3 {
    color: #4D636F;
    font-family: "K2D", sans-serif;
}

.filter-category {
    margin-bottom: 20px;
}

.filter-category label {
    display: block;
    margin: 10px 0;
    color: #538FA3;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #538FA3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: orange;
    border-color: orange;
}

input[type="radio"]:before,
input[type="checkbox"]:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before {
    background-color: white;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.product-section {
    width: 70%;
}

.product-section h2 {
    font-family: "K2D", sans-serif;
    color: #F19E4E;
    font-size: 28px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 150px;
    height: auto;
}

.product-item p {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    color: #4D636F;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .filter-section,
    .product-section {
        width: 100%;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 80%;
    }
}

.catalogue-image {
    width: 80%; 
    height: auto;
    object-fit: contain;
    max-width: 150px;
}

.product-item {
    width: 200px;
    background-color: #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #000;
    font-family: "K2D", sans-serif;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: contain; 
    margin: auto; 
    margin-bottom: 10px;
}

.product-title {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #518a94;
    margin-bottom: 30px;
    flex-grow: 1; 
}

.product-price {
    font-size: 24px;
    color: #f18f01;
    font-family: "K2D", sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.brand-name {
    font-family: "K2D", sans-serif;
    color: #7f77a1;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

/*--------------*/



/*-----Login-----*/

.login-center{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms {
    background-color: #d1c7c7;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #2889a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #218838;
}

.toggle-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
}

/*--------------*/




/*----Footer----*/
footer {
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f98b1c; 
    padding: 10px 20px;
}

.social-icons a img {
    width: 30px;
    margin-right: 15px;
}

.contact-info {
    color: white;
}

.contact-info span {
    font-size: 18px;
    font-weight: bold;
}

.contact-info p {
    margin: 5px 0 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #737373; 
}

.column h4 {
    color: white;
    margin-bottom: 10px;
}

.column ul {    
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 8px;
}

.column ul li a {
    color: white;
    text-decoration: none;
}

.column ul li a:hover {
    text-decoration: underline;
}

.newsletter h4 {
    color: white;
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
}

.newsletter input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.newsletter button {
    background-color: #f98b1c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.newsletter button:hover {
    background-color: #e67e22;
}

.newsletter label {
    font-size: 12px;
    color: white;
}

.newsletter a {
    color: white;
    text-decoration: underline;
}

.newsletter a:hover {
    text-decoration: none;
}
