
/*----Header----*/
header {
    background-color: #1A9DC6;
    font-size: 5rem;
    font-family: "K2D", sans-serif;
    font-style: normal;
}
/*--------------*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.index-pic {
    width: 500px;
    /* Adjust the size as needed */
    height: auto;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    color: #4D636F;
    /* Matching the style from the image */
    margin-top: 20px;
    font-weight: bold;
}
    section {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

.description {
    font-size: 16px;
    color: #333;
    text-align: justify;
    max-width: 500px;
    line-height: 1.5;
}

.catalogue-btn {
    margin-top: 20px;
    background-color: #BCC1C4;
    /* Button background color */
    color: #4D636F;
    /* Text color */
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.catalogue-btn:hover {
    background-color: #A0A5A8;
    /* Slightly darker on hover */
}