/*----Header----*/
header {
    background-color: #1A9DC6;
    font-size: 2.5rem;
    color: white;
    font-family: "K2D", sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;

}


nav{
    background-color: #D9D9D9;
    color: #538FA3;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;

}
h1{
    margin: 0;
}
ul{
    padding-inline-start: 0px;
    margin: 20px;
}

ul:hover{
    color: black;
    background-color: grey;
    text-decoration: underline;
    

}
body{
    margin: 0%;
}
/*--------------*/


/*----Acceuil----*/

h2 {
    font-family: "K2D", sans-serif;
}

p {
    font-family: "Kanit", sans-serif;
}

body{
    margin: 0%;
}
section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.index-pic {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    color: #4D636F;
    margin-top: 20px;
    font-weight: bold;
}

section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.index-pic {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.catalogue-btn {
    margin-top: 20px;
    background-color: #BCC1C4;
    color: #4D636F;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}

.catalogue-btn:hover {
    background-color: #A0A5A8;
}

/*--------------*/